* {
  padding: 0;
  margin: 0;
}

.body {
  height: 100vh;
  padding: 150px 0 100px 100px;
  background-color: #f9ccac;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  -webkit-user-select: none;
  user-select: none;
  overflow-y: hidden;
}

header {
  color: white  ;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #e0876a;
  width: 100%;
  height: 10vh;
  padding-left: 50px;
  font-family: Arial, sans-serif;
}

header ul {
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

header ul li a {
  display: block; 
  color: white;
  font-size: 24px;
  padding: 10px 25px;
  transition: 0.2s;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
  margin-left: 20px;
}

.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  max-width: 250px;
  max-height: 25vh;
  display: inline-block;
  background-color: #fbefcc;
  box-shadow: 29px 16px 26px 9px rgba(0,0,0,0.59);
  -webkit-box-shadow: 29px 16px 26px 9px rgba(0,0,0,0.59);
  -moz-box-shadow: 29px 16px 26px 9px rgba(0,0,0,0.59);
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin-top: 10px;
  color: rgb(25, 11, 221);
  font-size: larger;
}

.card .card-text{
  font-family: Arial, sans-serif;
  margin-top: 10px;
  color: rgb(221, 12, 12);
}

footer {
  color: white  ;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #e0876a;
  width: 100%;
  height: 10vh;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

nav {
  margin-left: 100px;
}

.img {
  width: 50%;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}